<b>
<center>
<h2>500 - Internal Combustion Misfired</h2>
  <hr>
<h3>
A team of highly trained monkeys have been dispatched to deal with this situation.
When you see them, send them this information as text (screenshots frighten them):
</h3>
<br>
</center>
<h5>
<div style='font-family: Courier New'>
&nbsp;&nbsp;&nbsp;&nbsp AB38WEOU-j9Pr0VAUPQ8V670krVyHjGk05qDmE33AtEkdPndgWK9EW9b <br>
&nbsp;&nbsp;&nbsp;&nbsp Q1AK3SHYrCMsSYK8p-EHUBxFJxNotIGdNASS915CFsW7eeMK0VRj7jMC <br>
&nbsp;&nbsp;&nbsp;&nbsp d1p1U6yyZH_w0IBOw7OU5DmpfxteKgBF1k9TO93GApNeRsAQJ3gUbKMx <br>
&nbsp;&nbsp;&nbsp;&nbsp woHiJDUi3lsNPrQqhJaxbvdYNN4i60Sgm8CQ71WodUcPTnUp0z9gtbFY <br>
&nbsp;&nbsp;&nbsp;&nbsp iA2O3YDP0jZlzYNDALid6xS54Zal624-3lz8guMlKzrZcclX2Ik4-LsR <br>
&nbsp;&nbsp;&nbsp;&nbsp 75ltQ_kAJOBgXBtk2hMWQ_qa-1xSjYIpw1GZAJWKY-Q2ImVJvDh8NoI5 <br>
&nbsp;&nbsp;&nbsp;&nbsp WXqdnWNrFLJ68Dq-l9wVow9BMNyxJTK9qVv92YuMLWUGAJ3RphQ3CGoV <br>
&nbsp;&nbsp;&nbsp;&nbsp ddZelX_E4LV46eWjsyZcESIN1IAIHK1J1_Tp2aXGJAgrJoGxs66D-JMm <br>
&nbsp;&nbsp;&nbsp;&nbsp Z4DS7dW6kNxpgZoJQ0dLQhYKUTOlYb9tw7KTP8uvJkJWyea-xXEYvfO- <br>
&nbsp;&nbsp;&nbsp;&nbsp lt0cQwD3ka76Z0K1_WFnCLS8KXMckkkVo9OTkbBcG-5lSVtZx4VaPRH4 <br>
&nbsp;&nbsp;&nbsp;&nbsp 6ajeSJVUKHb7mxHAje3EU9vylESOcadHVM867MILiUyw7zgT1e-udFRG <br>
&nbsp;&nbsp;&nbsp;&nbsp oZEEynBx3ojOSGxBv4zsptpPCH0MLhd94e5RuM_R4r2BdsnqlgbTWjEk <br>
&nbsp;&nbsp;&nbsp;&nbsp Tk8z9E86oJzx0Jd6ZpLogLGQk3nYK9JmkSQTZq_nskrckDYgTQ1JbUiC <br>
&nbsp;&nbsp;&nbsp;&nbsp iPNTtL83HOoiXBSXbcoVozCXSdz8gWATsRLN7SiAqbrTr_QFwgzxk5xb <br>
&nbsp;&nbsp;&nbsp;&nbsp BIQ-Vx89FUHLZqnm0gE_fs9eSbElAU-fsw_pJ5DTuEwJkSPqnkj0oZNp <br>
&nbsp;&nbsp;&nbsp;&nbsp F4TbI0FWO1Iq9r8zAqRJiNYDz9Vdzc4tQzaEjy6khGsLE13NVmF89sFD <br>
&nbsp;&nbsp;&nbsp;&nbsp Yz7W0v7ziJuaFpOa44dfffQP0fNYb2FkaayE8P2bEB26zIUPtV1K_nYz <br>
&nbsp;&nbsp;&nbsp;&nbsp OGpyUYAMBRG_2QomIg76aCmJFU6IE18y7iqs84KqcwTmYAo9dqZGVpVm <br>
&nbsp;&nbsp;&nbsp;&nbsp UKbRNToIsa5glPH8toEwg6-acQqqL6L6Bz0MoFX8rTMNknOAcyIqmtZi <br>
&nbsp;&nbsp;&nbsp;&nbsp wquKa8GClfDLBhi0LtDgQeSY9seULpA7U0lkzL8kWupWxqGBa7VQbYzJ <br>
&nbsp;&nbsp;&nbsp;&nbsp Ho2nBJJHZFLJE6UA6LfYahN0KAzG5fJn5WFfQ6ORmJLXDxw90C2WO9op <br>
&nbsp;&nbsp;&nbsp;&nbsp DKtsfL5Rkqd54nI5DuAXHIwwHP79PWkJkpWFgfEovgZQxv2JIOn8GsuI <br>
&nbsp;&nbsp;&nbsp;&nbsp B17VX8C2NK13-62sDTRGJppwcCwAm0Ej36zlTja26cpty2B8v-xVe0qI <br>
&nbsp;&nbsp;&nbsp;&nbsp eGYsjeoQgFxtQAndyEFavLu6Jggp3pDe8Mvshm2rvtEXCF7nhhxUlDNW <br>
&nbsp;&nbsp;&nbsp;&nbsp BehImDRxiqkOGZQ3lj6hs3unP4rmF5P0YQkO7ikAr_Ypn1YycjbyhBs_ <br>
&nbsp;&nbsp;&nbsp;&nbsp YdvEIn47V2yxvI3FBSaTYK1IMdDIR8koMYb2qf6EiJVm0UwUeIBnVqiv <br>
&nbsp;&nbsp;&nbsp;&nbsp mYge73RfnVhXrw_gg2AvQCbeTxX1KCvt9A4qdmvtUK8ChSsL4jgqLE2f <br>
&nbsp;&nbsp;&nbsp;&nbsp 6A5NRx7K55vD3tp-eQI6Uvz_jwWfp4ZI5N1aga8ZI-7B94ufj-l_J7w- <br>
&nbsp;&nbsp;&nbsp;&nbsp 7buhWahoazOOYZsIh_emNiaQ3JeZHQ0BUP8dBiepsZymgqwmKSm62TLj <br>
&nbsp;&nbsp;&nbsp;&nbsp TQcMx8gJ3hOgFpubnilXDHyAQWA0fei_c8im43K_yXBuN98zmadvSuxO <br>
&nbsp;&nbsp;&nbsp;&nbsp a3HkVoMveaIrKhh1W6MsLSUQI7HqUQUo-LxbuNUtThTzqrQWiZ93szdK <br>
&nbsp;&nbsp;&nbsp;&nbsp 8fWhAHWWd_m25GxUlLtVAbsohA97fAK7vvM83zgVIBn5XlCuIVhimjlh <br>
&nbsp;&nbsp;&nbsp;&nbsp GxOLY9jxX14d-pSnceqAvuZWdGboBACiul7bnrPMRokKDKDZT-TlM3Zh <br>
&nbsp;&nbsp;&nbsp;&nbsp Wro8nHG14PKaDH2GMbqcdJIR2Y9QqW7zCD-Sta5LaqfyS8rhaoDsXueR <br>
&nbsp;&nbsp;&nbsp;&nbsp vGl50OcpTpwwyZM6nDMhyqUhYqH2gZ1mItkrrcUMpcZFGqhgK8La_6M6 <br>
&nbsp;&nbsp;&nbsp;&nbsp ADaJJBhY7ZVPm1DXjjxw48gm1ZbuLMBu7l24i5B4urnjvlyWoDU6Gp1B <br>
&nbsp;&nbsp;&nbsp;&nbsp C6J9VzDlLzFHRQ87FNL0Lo_cdw4JpF9omg0q4bl4wN6mDxnVorc1Czr7 <br>
&nbsp;&nbsp;&nbsp;&nbsp 7RU53lBv-evLyFJegNfsYwlRFprIiEJcidHUVGd5pLPzfNwV5ZTICThP <br>
&nbsp;&nbsp;&nbsp;&nbsp Vuqxva9n9HpvPPFjbpmjtT5-ZKNA98DUGHd0R9bx7s8YYBzGDO_lb6QN <br>
&nbsp;&nbsp;&nbsp;&nbsp Vaa_IH150XFVC18Tct-BT7arWK7LisIqVh5gjvtz0NO-QqNmbDbVpISE <br>
&nbsp;&nbsp;&nbsp;&nbsp PmjM4WfdrxFPqYbBAoFq666aGVl5mq-jEAnI1taGI5k257F0ybYmXziY <br>
&nbsp;&nbsp;&nbsp;&nbsp q86t-jxLKn6_9W5mluM51L2UfKsaHcwZT0Z6gYZ8x3z0lYuvnEcbkNJZ <br>
</div>
</h4>
</b></center>
