<!doctype html>
<html>
  <!-- Make pages portable device friendly. -->
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <head>
    <title>Still In Diapers</title>
  </head>

  <body background="/nois.png">
    <header><img src = "/icon.png"></header>

    {{{body}}}

    <hr>
    <h6><b><i><center>Website rendered using Pixie dust and potions stolen from the Elves.
    </center></i></b></h6>
  </body>
</html>
